
.header{   
    padding-top: 0px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    height: 80px;
    font-family: sans-serif;
    /* background-color: rgb(51, 204, 197); */
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    display: grid;
    grid-template-columns: 2fr 8fr 1fr;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    
}
/* 
.overlay::before{
    position: absolute; 
    top: 100px; 
    right: 0px;
    overflow: hidden
} */
.left{
    margin-top: 4px;
    margin-left: 185px;
    width: 400px;
    font-weight: bold;   
}

.site-name{
    margin-left: 50px;
    font-size: 30px;
}

.logo{
    position: fixed; 
    top: -14px; 
    left: 100px;   
}

.center{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 50px;
    color: black;
}


a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.language{
    margin-top: 28px;
}